<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="<%= h title %>"
               description="<%= h description %>"
               author="<%= h author_name %>"
               author_affiliation="<%= h author_affiliation %>"
               author_email="<%= h author_email %>">

    <!-- Commonly used features -->
    <Require feature="dynamic-height" />
    <Require feature="dynamic-width" />
    <Require feature="embedded-experiences" />
    <Require feature="jive-core-v3" />
    <Require feature="open-views" />
    <Require feature="opensocial" />
    <Require feature="opensocial-data" />
    <Require feature="opensocial-templates" />
    <Require feature="osapi" />
    <Require feature="selection" />
    <Require feature="setprefs" />
    <Require feature="settitle" />
    <Require feature="views" />
    <Optional feature="minimessage" />
    <Optional feature="oauthpopup" />

    <!-- Jive Actions -->
    <!--
    <Require feature="actions">
      <Param name="action-contributions">
        <![CDATA[
          <action id="com.yourcompany.rteaction"
                  path="jive/actions/rte"
                  label="Your App RTE Action Label"
                  view="embedded.rte" />
        ]]>
        <![CDATA[
          <action id="com.yourcompany.action"
                  path="jive/actions/content/*"
                  label="Your App Action Link Label"
                  view="embedded.action" />
        ]]>
      </Param>
    </Require>
    -->

    <!-- Icons: 3 sizes, 16x16, 48x48, 128x128 -->
    <Link rel="Icon"       href="images/icon16.png" />
    <Link rel="MediumIcon" href="images/icon48.png" />
    <Link rel="LargeIcon"  href="images/icon128.png" />

    <!-- Screenshots: 600w x 400h, should include at least 1 and up to 5 -->
    <!--
    <Link rel="Screenshot1" href="images/screenshot1.png" />
    <Link rel="Screenshot2" href="images/screenshot2.png" />
    <Link rel="Screenshot3" href="images/screenshot3.png" />
    <Link rel="Screenshot4" href="images/screenshot4.png" />
    <Link rel="Screenshot5" href="images/screenshot5.png" />
    -->

    <!-- OAuth Services: https://community.jivesoftware.com/docs/DOC-66542 -->
    <!--
    <OAuth>
      <Service name="example">
        <Access url="http://api.example.com/oauth/access_token" method="POST" />
        <Request url="http://api.example.com/oauth/request_token" method="POST" />
        <Authorization url="http://api.example.com/oauth/authorize" />
      </Service>
    </OAuth>
    -->

    <!-- Lifecycle Events: https://community.jivesoftware.com/docs/DOC-65579 -->
    <!--
    <Link rel="event.addapp" href="http://www.example.com/add" />
    <Link rel="event.removeapp" href="http://www.example.com/remove" />
    -->

    <!-- Preloaded Content: http://wiki.opensocial.org/index.php?title=Remote_Data_Requests_%28v0.9%29#Preloading_data -->
    <!--
    <Preload href="http://www.example.com" />
    -->

  </ModulePrefs>

  <!-- User Preferences: http://code.google.com/apis/gadgets/docs/reference.html#Userprefs_Ref -->
  <!--
  <UserPref name="where_i_live" display_name="Where I Live" datatype="string" default_value="" required="false" />
  <UserPref name="subscribe_to_newsletter" display_name="Subscribe to Newsletter" datatype="bool" default_value="" required="false" />
  <UserPref name="difficulty"
       display_name="Difficulty"
       datatype="enum"
       default_value="2">
    <EnumValue value="1" display_value="Easy"/>
    <EnumValue value="2" display_value="Medium"/>
    <EnumValue value="3" display_value="Hard"/>
  </UserPref>
  -->

  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->
  <Content type="html" view="canvas" href="hello.html" />

  <!--
  <Content type="html" view="canvas" href="canvas.html" />
  <Content type="html" view="embedded.rte" href="embedded_rte.html" preferred_height="400" />
  <Content type="html" view="embedded.action" href="embedded_action.html" preferred_height="400" />
  -->

</Module>
